{% extends 'mobile/baseapp.html' %}

{% block head %}
<link href="/static/css/questionario.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="container">

    <br>

    <h3>Psicólogos em {{cidade}}</h3>

    <br>

    <form action="/mobilepesquisapsicologos/" method="GET">
        <div class="col-12">
            <input type="submit" value="Voltar">
        </div>
    </form>

    <br>
    <br>

    {% for psi in resultadoQuery %}

    <div class="card" style="max-width: 500px;">
        <div class="row no-gutters">
            <div class="col-3 px-2 mt-2">
                {% if psi.img %}
                    <img src="/image/{{psi.id}}" alt="Foto de Perfil"
                    class="rounded-circle" width="100">
                {% else %}
                    <img src="/static/semfoto.png" alt="Foto de Perfil"
                    class="rounded-circle" width="100">
                {% endif %}
            </div>

            <div class="col-9">
                <div class="card-body">
                    <h4 class="card-title">{{psi.name}}</h4>
                    <p>{{psi.descricao|truncate(80)}}</p>
                    <a href="/mobileverperfil/{{psi.id}}" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>

    <br>

    {% endfor %}


</div>

{% endblock %}