{% extends 'mobile/baseapp.html' %}

{% block head %}
<link href="/static/css/questionario.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="container">
    
    <div id="" class="container">

        <br>

        <div class="row">
            <div class="card col-12" style="max-width: 500px; background-color: gold;">
                <div class="row no-gutters">
                    <div class="col-3 mt-3">
                        <h1 class="fas fa-star"></h1>
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h4 class="card-title">Premium</h4>
                            <a href="/mobilevideos/" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="card col-12" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-3 mt-3">
                        <h1 class="fas fa-video"></h1>
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h4 class="card-title">Vídeos</h4>
                            <a href="/mobilevideos/" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="card col-12" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-3 mt-3">
                        <h1 class="fas fa-user-friends"></h1>
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h4 class="card-title">Psicólogos</h4>
                            <a href="/mobilepesquisapsicologos/" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="card col-12" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-3 mt-3">
                        <h1 class="fas fa-leaf"></h1>
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h4 class="card-title">Respiração e Meditação</h4>
                            <a href="/mobilerespiracao/" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="card col-12" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-3 mt-3">
                        <h1 class="fas fa-book"></h1>
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h4 class="card-title">Autoajuda</h4>
                            <a href="/mobilerespiracao/" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="card col-12" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-3 mt-3">
                        <h1 class="fas fa-question-circle"></h1>
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h4 class="card-title">Questionário</h4>
                            <a href="/mobilequestionario/" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

    </div>

</div>

{% endblock %}