{% extends 'mobile/baseapp.html' %}

{% block head %}
<link href="/static/css/questionario.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="container">

    <div id="" class="container">

        <br>

        {% if current_user.is_authenticated %}
            {% if current_user.tipo == 0 %}
                <h4>Olá, {{current_user.name}}!</h4>
            {% endif %}
        {% else %}
        <div class="row">
            <div class="col-12">
                <form action="/loginusu/" method="GET">
                    <input type="submit" value="Fazer Login">
                </form>
            </div>
        </div>
        

        <br>

        <div class="row">
            <div class="card col-12" style="max-width: 500px; background-color: gold;">
                <div class="row no-gutters">
                    <div class="col-3 mt-3">
                        <h1 class="fas fa-star"></h1>
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h4 class="card-title">Premium</h4>
                            <a href="/premium/" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

        <br>

        <div class="row">
            <div class="card col-12" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-3 mt-3">
                        <h1 class="fas fa-video"></h1>
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h4 class="card-title">Vídeos</h4>
                            <a href="/mobilevideos/" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="card col-12" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-3 mt-3">
                        <h1 class="fas fa-user-friends"></h1>
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h4 class="card-title">Psicólogos</h4>
                            <a href="/mobilepesquisapsicologos/" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="card col-12" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-3 mt-3">
                        <h1 class="fas fa-leaf"></h1>
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h4 class="card-title">Respiração</h4>
                            <a href="/mobilerespiracao/" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="card col-12" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-3 mt-3">
                        <h1 class="fas fa-book"></h1>
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h5 class="card-title">Autoconhecimento</h5>
                            <a href="/mobileblogs/" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="card col-12" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-3 mt-3">
                        <h1 class="fas fa-question-circle"></h1>
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h5 class="card-title">Questionário</h5>
                            <a href="/mobilequestionario/" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        {% if current_user.is_authenticated %}
        {% if current_user.tipo == 0 %}
            <div class="row">
                <div class="col-12">
                    <form action="/logoutusu/" method="GET">
                        <input type="submit" value="Sair">
                    </form>
                </div>
            </div>
        {% endif %}
        {% endif %}

        <br>

    </div>

</div>

{% endblock %}