{% extends 'mobile/baseapp.html' %}

{% block head %}
<link href="/static/css/bannerbranco.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">

        <br>

        <div class="row">
            <img class="img-fluid" src="/static/premium.gif" alt="Banner">
        </div>

        <div class="row">
            <div class="col-12">
                <input onclick="window.open(
                    '/pagamentopremium/',
                    '_blank' // <- This is what makes it open in a new window.
                  );" type="submit" value="Assinar">
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-12">
                <input onclick="goBack()" type="submit" value="Voltar">
            </div>
        </div>

    </div>

    <script>

        function goBack() {
          window.history.back();
        }
    
    </script>
    

{% endblock %}