{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div id="" class="container">

    <br>

    <h3>Vídeos Sobre Relacionamentos Sociais</h3>

    <br>
    <div class="row justify-content-center">

        <div class="col-lg-6 sm-12 mb-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/g-wvvYIFPr8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-lg-6 sm-12 mb-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xXb5KOfB6I0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-lg-6 sm-12 mb-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/WTWhH1zjjMI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
    </div>

    <br>

</div>

<script>
    function covid() {
        alert('covis');
    }
</script>

{% endblock %}