{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div id="" class="container">

    <br>

    <h3>Escolha uma Categoria de Vídeo:</h3>

    <br>

    <div class="row justify-content-center">

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem; background-color: lightpink;">
                <div class="card-body">
                    <h1 class="fas fa-virus"></h1>
                    <h3>COVID-19</h3>
                    <a href="/videoscovid/" class="stretched-link"></a>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="fas fa-users"></h1>
                    <h3>Mundo Social</h3>
                    <a href="/videossocial/" class="stretched-link"></a>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="fas fa-brain"></h1>
                    <h3>A Mente</h3>
                    <a href="/videosmente/" class="stretched-link"></a>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="fas fa-notes-medical"></h1>
                    <h3>Saúde Mental</h3>
                    <a href="/videossaude/" class="stretched-link"></a>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="fas fa-frown"></h1>
                    <h3>Depressão</h3>
                    <a href="/videosdepressao/" class="stretched-link"></a>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="far fa-clock"></h1>
                    <h3>ansiedade</h3>
                    <a href="/videosansiedade/" class="stretched-link"></a>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="fas fa-pills"></h1>
                    <h3>Drogas</h3>
                    <a href="/videosdrogas/" class="stretched-link"></a>
                </div>
            </div>
        </div>

    </div>

    <br>
    <br>
    <br>
    <br>

</div>

<script>
    function covid() {
        alert('covis');
    }
</script>

{% endblock %}