{% extends 'mobile/basefuncmobile.html' %}

{% block head %}
<link href="/static/css/questionario.css" rel="stylesheet">
{% endblock %}

{% block container %}

<div id="" class="container">

    <br>

    <h3>Vídeos</h3>

    <br>

    <div class="row">
        <div class="card col-12" style="max-width: 500px; background: rgb(255, 175, 175);">
            <div class="row no-gutters">
                <div class="col-3 mt-3">
                    <h1 class="fas fa-virus"></h1>
                </div>
                <div class="col-9">
                    <div class="card-body">
                        <h4 class="card-title">COVID-19</h4>
                        <a href="/mobilevideoscovid/" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="card col-12" style="max-width: 500px;">
            <div class="row no-gutters">
                <div class="col-3 mt-3">
                    <h1 class="fas fa-users"></h1>
                </div>
                <div class="col-9">
                    <div class="card-body">
                        <h4 class="card-title">Mundo Social</h4>
                        <a href="/mobilevideossocial/" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="card col-12" style="max-width: 500px;">
            <div class="row no-gutters">
                <div class="col-3 mt-3">
                    <h1 class="fas fa-brain"></h1>
                </div>
                <div class="col-9">
                    <div class="card-body">
                        <h4 class="card-title">Como a Mente Funciona</h4>
                        <a href="/mobilevideosmente/" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="card col-12" style="max-width: 500px;">
            <div class="row no-gutters">
                <div class="col-3 mt-3">
                    <h1 class="fas fa-notes-medical"></h1>
                </div>
                <div class="col-9">
                    <div class="card-body">
                        <h4 class="card-title">Saúde Mental</h4>
                        <a href="/mobilevideossaude/" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="card col-12" style="max-width: 500px;">
            <div class="row no-gutters">
                <div class="col-3 mt-3">
                    <h1 class="far fa-clock"></h1>
                </div>
                <div class="col-9">
                    <div class="card-body">
                        <h4 class="card-title">Ansiedade</h4>
                        <a href="/mobilevideosansiedade/" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="card col-12" style="max-width: 500px;">
            <div class="row no-gutters">
                <div class="col-3 mt-3">
                    <h1 class="fas fa-frown"></h1>
                </div>
                <div class="col-9">
                    <div class="card-body">
                        <h4 class="card-title">Depressão</h4>
                        <a href="/mobilevideosdepressao/" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="card col-12" style="max-width: 500px;">
            <div class="row no-gutters">
                <div class="col-3 mt-3">
                    <h1 class="fas fa-pills"></h1>
                </div>
                <div class="col-9">
                    <div class="card-body">
                        <h4 class="card-title">Drogas</h4>
                        <a href="/mobilevideosdrogas/" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

</div>

<script>
    function covid() {
      alert('covis');
    }
</script>

{% endblock %}