{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div class="container">

    <br>

    <h3>Psicólogos em {{cidade}}</h3>

    <br>

    <form action="/pesquisapsicologos/" method="GET">
        <div class="col-12">
            <a href="#" onclick="goBack()" type="button" class="btn btn-primary btn-lg">Escolher outro lugar</a>
        </div>
    </form>

    <br>

    {% for psi in resultadoQuery %}

    <div class="card">
        <div class="row no-gutters">
            <div class="col-3">
                {% if psi.img %}
                    <br>
                    <img src="/image/{{psi.id}}" alt="Foto de Perfil"
                    class="rounded-circle" width="100">
                {% else %}
                    <br>
                    <img src="/static/semfoto.png" alt="Foto de Perfil"
                    class="rounded-circle" width="100">
                {% endif %}
            </div>
            <div class="col-9">
                <div class="card-body">
                    <h4 class="card-title">{{psi.name}}</h4>
                    <p align="justify">{{psi.descricao|truncate(200)}}</p>
                    <a href="/verperfil/{{psi.id}}" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>

    <br>

    {% endfor %}


</div>

<script>

    function goBack() {
      window.history.back();
    }

</script>


{% endblock %}