{% extends 'mobile/baseapp.html' %}

{% block head %}
<link href="/static/css/questionario.css" rel="stylesheet">
{% endblock %}

{% block body %}

<!-- Modal Psicólogos -->
<div class="modal fade" id="modalpsi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                <img class="img-fluid" src="/static/bannerpsi.png" alt="Banner">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <a type="button" class="btn btn-warning" href="/premium/">Não mostrar mais</a>
                <a type="button" class="btn btn-success" href="/mobilepesquisapsicologos/">Ver psicólogos</a>
            </div>

        </div>
    </div>
</div>

<!-- Modal de parceiro -->
<div class="modal fade" id="modalparceiro1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                <img class="img-fluid" src="https://i.imgur.com/WwySyBd.png" alt="Banner">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <a type="button" class="btn btn-warning" href="/premium/">Não mostrar mais</a>
                <a type="button" class="btn btn-success" href="https://www.google.com/" target="blank">Conhecer</a>
            </div>

        </div>
    </div>
</div>

<!-- Modal de parceiro -->
<div class="modal fade" id="modalparceiro2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                <img class="img-fluid" src="https://i.imgur.com/rWsdxPD.png" alt="Banner">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <a type="button" class="btn btn-warning" href="/premium/">Não mostrar mais</a>
                <a type="button" class="btn btn-success" href="https://www.google.com/" target="blank">Conhecer</a>
            </div>

        </div>
    </div>
</div>

<!-- Modal de parceiro -->
<div class="modal fade" id="modalparceiro3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                <img class="img-fluid" src="https://i.imgur.com/jOQ3y7m.png" alt="Banner">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <a type="button" class="btn btn-warning" href="/premium/">Não mostrar mais</a>
                <a type="button" class="btn btn-success" href="https://www.google.com/" target="blank">Conhecer</a>
            </div>

        </div>
    </div>
</div>

<!-- Modal de parceiro -->
<div class="modal fade" id="modalparceiro4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                <img class="img-fluid" src="https://i.imgur.com/weA0Zl1.png" alt="Banner">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <a type="button" class="btn btn-warning" href="/premium/">Não mostrar mais</a>
                <a type="button" class="btn btn-success" href="https://www.google.com/" target="blank">Conhecer</a>
            </div>

        </div>
    </div>
</div>

{% if current_user.is_authenticated %}

{% else %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
        r = Math.random();

        if (r > 0.2) {

            const banners = ["#modalpsi", "#modalparceiro1", "#modalparceiro2", "#modalparceiro3", "#modalparceiro4"];

            const random = Math.floor(Math.random() * banners.length);

            $(banners[random]).modal('toggle');
        }
    });
</script>

{% endif %}


<div class="container">

    {% if current_user.is_authenticated %}

    {% else %}

    <br>

    <div class="row">

        <div class="col-6">
            <form action="/mobilepesquisapsicologos/" method="GET">
                <input type="submit" value="Ver Psicólogos">
            </form>
        </div>

        <div class="col-6">
            <form action="/premium/" method="GET">
                <input type="submit" value="Modo Premium">
            </form>
        </div>

    </div>

    {% endif %}

    <br>

    <div class="row">
        <div class="col-12">
            <form action="/mobilemenu/" method="GET">
                <input type="submit" value="Voltar">
            </form>
        </div>
    </div>

    {% block container %}{% endblock %}

    <br>

    {% if current_user.is_authenticated %}

    {% else %}

    <div class="row">

        <div class="col-6">
            <form action="/mobilepesquisapsicologos/" method="GET">
                <input type="submit" value="Ver Psicólogos">
            </form>
        </div>

        <div class="col-6">
            <form action="/premium/" method="GET">
                <input type="submit" value="Modo Premium">
            </form>
        </div>

    </div>

    <br>

    {% endif %}

    <div class="row">
        <div class="col-12">
            <form action="/mobilemenu/" method="GET">
                <input type="submit" value="Voltar">
            </form>
        </div>
    </div>

    <br>

</div>

<script>

    function goBack() {
      window.history.back();
    }

</script>

{% endblock %}