{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div id="" class="container">

    <br>

    <h3>Conheça um de nossos blogs parceiros:</h3>

    <br>

    <div class="row justify-content-center">

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img src="/static/blogs/psicologiaviva.png">
                    <a href="https://blog.psicologiaviva.com.br/" target='blank' class="stretched-link"></a>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img src="/static/blogs/diariopsique.png">
                    <a href="https://diariodopsique.com.br/blog-de-psicologia/" target='blank' class="stretched-link"></a>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img src="/static/blogs/psicocast.png">
                    <a href="https://psicocast.com.br/" target='blank' class="stretched-link"></a>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img src="/static/blogs/abrasme.png">
                    <a href="https://www.abrasme.org.br/noticias" target='blank' class="stretched-link"></a>
                </div>
            </div>
        </div>

    </div>

    <br>
    <br>
    <br>
    <br>

</div>

<script>
    function covid() {
        alert('covis');
    }
</script>

{% endblock %}