{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img class="first-slide" src="/static/home/carousel1.png" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Vídeos</h1>
            <h5>Aprenda um pouco sobre saúde mental assistindo vídeos rápidos.</h5>
            <p><a class="btn btn-lg btn-primary" href="/videos/" role="button">Assistir</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img class="second-slide" src="/static/home/carousel2.png" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Conversar com um Psicólogo</h1>
            <h5>Conheça o nosso time de profissionais em todo o Brasil.</h5>
            <p><a class="btn btn-lg btn-primary" href="/psicologos/" role="button">Conhecer</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img class="third-slide" src="/static/home/carousel3.png" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Faça uma Pausa para o Cérebro</h1>
            <h5>Dê à sua mente alguns minutos de paz e calma a cada dia.</h5>
            <p><a href="/respiracao/" class="btn btn-lg btn-primary" href="#" role="button">Pausar</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img class="fourth-slide" src="/static/home/carousel4.png" alt="Third slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Autoconhecimento.</h1>
            <h5>Leia textos em nossos blogs parceiro.</h5>
            <p><a class="btn btn-lg btn-primary" href="/blogs/" role="button">Ler Sobre</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img class="fifth-slide" src="/static/home/carousel5.png" alt="Third slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Conheça Nosso App.</h1>
            <h5>Leve o AlegreMente com você para qualquer lugar.</h5>
            <p><a class="btn btn-lg btn-primary" href="landingpageapp" role="button">Saiba Mais</a></p>
          </div>
        </div>
      </div>

    </div>
    
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>

  </div>

  <br>

  <!-- Marketing messaging and featurettes
    ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">O que é o <span class="text-muted">ALEGREMENTE?</span>
        </h2>
        <p class="lead">Diversos fatores podem afetar nossa rotina, seja no trabalho, estudo ou dos afazeres do dia-a-dia. Diante disso, o AlegreMente visa te ajudar a entender e a cuidar da sua saúde mental. Te ajudamos a identificar seus principais problemas relacionados a essa questão e também a encontrar as melhores estratégias para lidar com eles.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="/static//home/feature1.png"
          alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Por que cuidar da <span class="text-muted">saúde mental?</span></h2>
        <p class="lead">Saúde mental importa.Cuidar dela é fundamental para ter uma boa qualidade de vida e prevenir diversos tipos de doenças físicas e mentais. 
          A existência de problemas na nossa vida é normal, porém quando estes problemas interferem na nossa rotina e não conseguimos enfrentar determinadas situações ou lidar com sentimentos e emoções negativas, é um sinal de que é preciso atenção.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="/static//home/feature2.png"
          alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Como cuidar da <span class="text-muted">mente?</span></h2>
        <p class="lead">Cada mente funciona de um jeito, não tem receita pronta. Existem diversas maneiras de alcançar o equilíbrio mental e uma boa qualidade de vida, mas em todos os casos é uma construção diária e permanente.
          É importante estar receptivo ao novo e estar disposto a superar desafios que interferem em nossas relações pessoais, familiares, no trabalho, estudos, etc. 
          Estamos em constante transformação e somos todos capazes de aprender e evoluir.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="/static/home/feature3.png"
          alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Por que consultar <span class="text-muted">psicólogos?</span></h2>
        <p class="lead">Não é preciso esperar que quadros de estresse, ansiedade e depressão cheguem a um estado crítico para se tratar. Pelo contrário, quanto mais cedo se buscar ajuda profissional, melhor.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="/static/home/feature4.png"
          alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->

</main>
{% endblock %}