{% extends 'base.html' %}

{% block head %}
<link href="/static/css/precos.css" rel="stylesheet">
{% endblock %}

{% block body %}



<div class="container text-center">
    <img class="img-fluid" src="/static/anunciar/banner.png">
</div>



<div class="container">
    <div class="row">
        <div class="col-12">
    <h2>Depoimentos</h2>
</div>
    </div>

    <br>

    <div class="row">
        
        <div class="col-lg-4">
          <img class="rounded-circle" src="https://randomuser.me/api/portraits/women/36.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Taíssa Miranda</h2>
          <p>"Consegui obter mais pacientes, tanto no presencial, como online. Adquirir o plano foi, sem dúvidas, uma das melhores escolhas!"</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="https://randomuser.me/api/portraits/men/3.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Rafael Gomes</h2>
          <p>"Foi realmente muito bom anunciar aqui. Eu estava com um pouco de dúvida no começo, mas foi surpeendido. Em questão de dias já recebi ligações."</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="https://randomuser.me/api/portraits/women/90.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Ariele Murata</h2>
          <p>"Tenho muitas opções para personalizar meu perfil e me destacar, diferente de muitos apps de planos de saúde. Além disso, a equipe é muito atenciosa e resolve qualquer problema na hora."</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    <div class="card-deck mb-3 text-center">

        <div class="card mb-6 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Básico</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">R$24,99 <small class="text-muted">/ mês</small></h1>

                <table class="table">
                    <tbody>

                        <tr>
                            <td><i class="fas fa-check"></td>
                            <td>Anúncios no site e app</td>
                        </tr>

                        <tr>
                            <td><i class="fas fa-times"></td>
                            <td>Suporte especial 24h</td>
                        </tr>

                        <tr>
                            <td><i class="fas fa-times"></td>
                            <td>Anúncios destacados</td>
                        </tr>

                    </tbody>
                </table>

                <a href="{{ url_for('cadastro') }}" type="button" class="btn btn-lg btn-block btn-primary">Assinar</a>
            </div>
        </div>


        <div class="card mb-6 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pró</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">R$149,99 <small class="text-muted">/mês</small></h1>

                <table class="table">
                    <tbody>

                        <tr>
                            <td><i class="fas fa-check"></td>
                            <td>Anúncios no site e app</td>
                        </tr>

                        <tr>
                            <td><i class="fas fa-check"></td>
                            <td>Suporte especial 24h</td>
                        </tr>

                        <tr>
                            <td><i class="fas fa-check"></td>
                            <td>Anúncios destacados</td>
                        </tr>

                    </tbody>
                </table>

                <a href="{{ url_for('cadastro') }}" type="button" class="btn btn-lg btn-block btn-primary">Assinar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}