{% extends 'base.html' %}

{% block head %}
<link href="/static/css/precos.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Planos</h1>
    <p class="lead">Colocar antes alguma coisa para convencer a comprar....</p>
</div>



<div class="container">
    <div class="row">
        <div class="col-12">
    <h2>Depoimentos</h2>
</div>
    </div>

    <br>

    <div class="row">
        
        <div class="col-lg-4">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Taíssa Miranda</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Manuel Figueiroa</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Ariele Alves</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    <div class="card-deck mb-3 text-center">

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Básico</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">R$24,99 <small class="text-muted">/ mês</small></h1>

                <table class="table">
                    <tbody>
                        <tr>
                            <td><i class="fas fa-check"></td>
                            <td>Serviço</td>
                        </tr>

                        <tr>
                            <td><i class="fas fa-times"></td>
                            <td>Serviço</td>
                        </tr>

                        <tr>
                            <td><i class="fas fa-times"></td>
                            <td>Serviço</td>
                        </tr>

                        <tr>
                            <td><i class="fas fa-times"></td>
                            <td>Serviço</td>
                        </tr>
                    </tbody>
                </table>

                <a href="{{ url_for('cadastro') }}" type="button" class="btn btn-lg btn-block btn-primary">Assinar</a>
            </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">R$59,99 <small class="text-muted">/ mês</small></h1>

                <table class="table">
                    <tbody>
                        <tr>
                            <td><i class="fas fa-check"></td>
                            <td>Serviço</td>
                        </tr>

                        <tr>
                            <td><i class="fas fa-check"></td>
                            <td>Serviço</td>
                        </tr>

                        <tr>
                            <td><i class="fas fa-times"></td>
                            <td>Serviço</td>
                        </tr>

                        <tr>
                            <td><i class="fas fa-times"></td>
                            <td>Serviço</td>
                        </tr>
                    </tbody>
                </table>

                <a href="{{ url_for('cadastro') }}" type="button" class="btn btn-lg btn-block btn-primary">Assinar</a>
            </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Gold</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">R$149,99 <small class="text-muted">/mês</small></h1>

                <table class="table">
                    <tbody>
                        <tr>
                            <td><i class="fas fa-check"></td>
                            <td>Serviço</td>
                        </tr>

                        <tr>
                            <td><i class="fas fa-check"></td>
                            <td>Serviço</td>
                        </tr>

                        <tr>
                            <td><i class="fas fa-check"></td>
                            <td>Serviço</td>
                        </tr>

                        <tr>
                            <td><i class="fas fa-check"></td>
                            <td>Serviço</td>
                        </tr>
                    </tbody>
                </table>

                <a href="{{ url_for('cadastro') }}" type="button" class="btn btn-lg btn-block btn-primary">Assinar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}